html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%
}

body {
  margin: 0;
}

h1, h2 {
  color: #cc1465;
  font-family: "Sigmar One", cursive;
  text-align: center;
}

.nav li {
  display: inline-block;
  margin: 0 .5em 0 0;
}

.nav {
  text-align: center;
}

.nav a {
  font-family: Georgia, sans-serif ;
  padding: .2em .5em .3em;
  text-decoration: none;
  background-color: #b2a212;
  border-radius: 4px ;
  color: #fff;
  display: inline-block;
}

.nav a:hover {
  background-color: #b20952
}

header {
  padding: .75em;
  background-color: #ffe500;
  margin: 0;
}

h1 {
  margin: 0;
}

p {
  color: #2f2d13;
}

footer {
  padding: .75em;
  background-color: #ffe500;
  margin: 0;
  text-align: center;
}

.card {
  padding: 0 .75em;
  background-color: #fff;
}

.move {
  text-align: left;
  padding: 0 .75em;
  background-color: #fff;
}
