html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2 {
  color: #cc1465;
  font-family: 'Sigmar One', cursive;
}

.nav {
  background-color: ;
  border-radius: ;
  color: #b2a212;
  font-family: ;
  padding: ;
  text-decoration: none;
}

header {
  padding: .5em;
  background-color: #ffe500;
}

h1 {
  margin: 0;
}
