html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
}

h1, h2 {
  color: #cc1465;
  font-family: "Sigmar One", cursive;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  padding: 0;
  text-align: left;
}

.nav li {
  display: inline-block;
  margin-bottom: .3em;
}

.nav {
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav a {
  padding: .2em .5em .3em;
  text-decoration: none;
  background-color: #b2a212;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 1.125rem;
}

.nav a:hover {
  background-color: #b20953;
}

header {
  background-color: #ffe500;
  margin: 0;
}

h1 {
  margin: 0;
}

p {
  color: #2f2d13;
}

footer {
  padding: .75em;
  background-color: #ffe500;
  margin: 0;
  text-align: center;
}

.card {
  padding: 0 .75em;
  background-color: #fff;
}

.move {
  text-align: left;
  padding: 0;
  background-color: #fff;
}
